<h2>Контакты</h2>
<p>Пожалуйста, оставьте свое сообщение и адрес почты. Мы обязательно свяжемся с вами!</p>
</br>
<form action="/contacts" method="POST">
  <div class="form-group">
    <label>E-mail:</label>
    <input name="email" type="text" class="form-control" placeholder="введите e-mail">
  </div>
  <div class="form-group">
    <label>Сообщение:</label>
    <textarea name="msg" class="form-control" rows="3" placeholder="текст сообщения"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Отправить</button>
</form>