<h2>Последние TOP 5 записи:</h2>
<br>
<% @results.each do |post| %>
	

	<blockquote>
  		<p><%= post['content'] %></p>
  		<footer>
  			<dl class="dl-horizontal"> 
	  			<dt style="width: 300px"> 
	  				Added at <%= post['create_date'] %> by 
	  				<cite><%= post['username'] ? post['username'] : 'guest' %></cite>
	  			</dt>
	  			<dd><a style="margin: 20px" href="/posts/<%=post['id']%>">Comments</a></dd>
  			</dl>	
  		</footer>
  	</blockquote>
	
<% end %>