<h2>Последние TOP 5 записи:</h2>
<br>
<% @results.each do |post| %>
	

	<blockquote>
  		<p style="font-family: 'Calibri'; font-size: 14pt"><%= post['content'] %></p>
  		<footer>
  			<dl class="dl-horizontal"> 
	  			<dt style="width: 350px"> 
	  				<p align="left">Added at <%= post['create_date'] %> by 
	  				<cite><%= post['username'] ? post['username'] : 'guest' %></cite></p>
	  			</dt>
	  			<dd><a style="margin: 10px" href="/posts/<%=post['id']%>">Comments</a></dd>
  			</dl>	
  		</footer>
  	</blockquote>
	
<% end %>