<h2>Новая запись</h2>
<br>
<form action="/newpost" method="POST">
  <textarea class="form-control" name="posttext" style="width: 400px" rows="6" placeholder="Enter your text here"></textarea>
  <br>
  <button type="submit" class="btn btn-info">Submit</button>
</form>